* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('backgroun.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.9);

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;

    background-color: #007bff;
    color: white;

    padding: 10px;

    border-radius: 5px;
}

#product-list {
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    justify-content: center;
}

.product {
    width: 200px;

    padding: 10px;

    background-color: white;

    border: 1px solid #ccc;

    border-radius: 10px;

    text-align: center;

    transition: 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 150px;

    object-fit: cover;
}

.product button {
    padding: 10px;

    background-color: #007bff;

    color: white;

    border: none;

    cursor: pointer;

    margin-top: 10px;

    border-radius: 5px;
}

.product button:hover {
    background-color: #0056b3;
}

#cart {
    margin-top: 30px;
}

#cart-items {
    list-style-type: none;

    padding: 0;

    margin: 0;
}

#cart-items li {
    padding: 5px 0;

    border-bottom: 1px solid #ddd;
}
